{% extends "layout.html" %} 
{% block title %} Let's book your next getaway! {%endblock %} 

{% block main %} 

<section class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">


<!-- flash messages start -->
{% include 'messages.html' %}
<!-- flash messages end -->

  <div class="flex items-center justify-center mb-4">
    <h1 class="py-4 text-teal-500 uppercase font-semibold italic">
      The journey of a thousand miles begins with a single step
    </h1>
  </div>
  
  {% include 'search_form.html' %}
  
</section>

<article class="md:grid md:grid-cols-3 md:gap-x-8 md:gap-y-10 mb-4">

  <div class="relative mx-auto w-4/5">
    <h3 class="py-4 text-teal-500 uppercase font-semibold">
      <a href="https://www.lonelyplanet.com/places" target="_blank"> Need inspiration for your next trip?
        <i class="fas fa-external-link-alt"></i>
      </a>
     
    </h3>
    <div class="index-image-container">
      <img
        src="../static/imgs/coco-trees.jpg"
        alt="two coco trees on a beach"
        class="w-full h-auto"
      />
    </div>
  </div>

  <div class="relative mx-auto w-4/5">
    <h3 class="py-4 text-teal-500 uppercase font-semibold">
      <a href="https://www.travelers-checklist.com/" target="_blank">Useful packing ideas</a>
      <i class="fas fa-external-link-alt"></i>
    </h3>
    <div class="index-image-container">
      <img
        src="../static/imgs/laptop.jpeg"
        alt="travel essentials - beach hat, flip flops, camera, etc"
        class="w-full h-auto"
      />
    </div>
  </div>

  <div class="relative mx-auto w-4/5">
    <h3 class="py-4 text-teal-500 uppercase font-semibold">
      <a href="https://www.globotreks.com/tips/best-places-visit-each-month-year" target="_blank">This month's top destinations</a>
      <i class="fas fa-external-link-alt"></i>
    </h3>
    <div class="index-image-container">
      <img
        src="../static/imgs/mountain.jpg"
        alt="girl sat near a mountain lake"
        class="w-full h-auto"
      />
    </div>
  </div>
  
</article>


{% endblock %}
