html, body {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}


@media screen and (max-width: 1023px) {
  .nav {
   display: none;
  }
  .showNav {
   display: block;
  }
}

.alert-error {
  background-color: red;
  border-color: darkred;
}

.alert-success {
  background-color: #38b2ac;
  border-color: teal;
}

.star {
  height: 1.5rem;
}

.index-image-container {
  /* max-height: 700px; */
  object-fit: cover;
}


.listings-loading-circle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.carousel-container {
  max-width: 80%;
  height: auto;
  margin: auto;
}  

.mySlides {
    display: none;
}

.imageNumber {
  display: none;
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index: 99;
}
/* need to add media screen heights */
.mySlides img {
  max-height: 400px;
  object-fit: cover;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  body > main > section > div.mt-10.relative {
    margin: 0 auto;
    width: 80%;
    margin-top: 2.5rem;
  }

  body > main > section > div.mt-10.relative > ul {
    margin: 0 auto;
    width: 80%;
  }
  ul {
    list-style: none;
  }


  body > main > section > div > ul > li > div > ul > li:before {
    content: '✓';
    color: #38b2ac;
  }
