{% extends "layout.html" %} {% block title %} About {%endblock %} {% block main
%}
<section class="about">
<section class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 mt-16">
  <div class="text-center .w-4/5 mb-6">
    <h4 class="text-xl leading-6 font-medium text-gray-900">
      Home Away is a hotel booking project built as part of the final
      requirement for <br>
      <a
        href="https://cs50.harvard.edu/x/"
        target="_blank"
        class="text-teal-500"
        >Harvard's CS50x Introduction to Computer Science
        <i class="fas fa-external-link-alt"></i>
      </a>
      course.
    </h4>
    <p class="mt-8">
      In order to test the application, please create an account or log in if
      you already have one.
    </p>
    <p class="mt-8">
      <strong>
        It's important to note that even though the hotel details and prices
        displayed here represent real time data (received from hotel.com API),
        all bookings made and confirmed on this website are for
        demo purposes only.
      </strong>
    </p>
    <p class="mt-8">
      Thank you to
      <a href="https://cs.harvard.edu/malan/" target="_blank">
        David Malan
        <i class="fas fa-external-link-alt"></i>
      </a>
      and all
      <a href="https://cs50.harvard.edu/x/2020/staff/" target="_blank"
        >CS50x staff
        <i class="fas fa-external-link-alt"></i>
      </a>
      for making this course available to all.
    </p>
    <p class="mt-8">This was CS50x!</p>
  </div>
</section>
</section>




{% endblock %}

