{% extends "layout.html" %} {% block title %} Let's book your next getaway!
{%endblock %} {% block main %}

<section class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- flash messages start -->
  {% include 'messages.html' %}
  <!-- flash messages end -->
  <section class="text-center leading-relaxed">
    <h1
      class="mt-2 text-2xl leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10"
    >
      {{ hotel_name }}
    </h1>
    <span
      class="inline-flex text-3xl leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10"
    >
      {% for star in range(5) %}
      <svg
        class="star mx-0.8 w-4 h-4 fill-current text-gray-400 {% if star <= hotel_stars -1 %}text-yellow-500{% endif %}"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"
        />
      </svg>
      {% endfor %}
    </span>
    <address class="mt-4 leading-3 text-gray-500 mx-auto mb-4">
      {{ hotel_address}}
    </address>

    <h1 class="text-xl leading-8 text-gray-900 font-bold mb-4">
      Please review the details below before confirming the booking
    </h1>
    <p>
      You're arriving on <span class="font-bold"> {{check_in}} </span> and
      leaving on <span class="font-bold"> {{check_out}} </span>, stay is for
      <span class="font-bold"> {{ stay_duration }}</span> {% if stay_duration == 1 %} night {%else%} nights {% endif %}
    </p>

    <p>
      The booking is for
      <span class="font-bold"> {{ total_guests }} </span> {%if total_guests == '1' %} adult {%else%} adults {% endif %} staying in
      <span class="font-bold"> {{hotel_rooms}} </span> {%if hotel_rooms == '1' %} room {%else%} rooms {% endif %}
    </p>
  </section>

  {% if room %}
  <div class="text-center mt-6 mb-4">
    <p for="room" class="text-teal-500">
      We've picked the best available room for you!
    </p>
    <p class="font-bold text-xl">{{room.name}}</p>
  </div>

  {% if room.images %}
  <div>
    <img
      src="{{room.images[0].fullSizeUrl}}"
      alt="image of available room"
      class="sm:mx-auto sm:w-3/5"
    />
  </div>
  {% endif %}

  <section class="md:flex md:justify-center">
    <div class="p-4">
      <h4 class="text-lg leading-6 font-medium text-gray-900 underline">
        Room description
      </h4>
      <p>{{ room.additionalInfo.description|safe }}</p>
    </div>

    <div class="p-4">
      <h4 class="text-lg leading-6 font-medium text-gray-900 underline">
        Booking conditions
      </h4>

      <p>The average price per night is ${{ hotel_price }}</p>

      {% set total_pay = hotel_price|int * stay_duration|int * hotel_rooms|int %} 
  
      <p>Total to pay for your stay:  <span class="font-bold"> ${{ total_pay }}</span>
        <span> for {{ stay_duration }} {% if stay_duration == 1 %} night {%else%} nights {% endif %} </span>
       </p>

      <p>{{ room.ratePlans[0].cancellation.info|safe }}</p>
    </div>
  </section>

  {% set free_cancellation = room.ratePlans[0].cancellation.free %}
  {% if free_cancellation %}
  {% set cancel_before = room.ratePlans[0].cancellation.cancellationDate %}
  {% endif %}
  

  <form action="{{ url_for('your_bookings') }}" 
  method="POST"
  class="grid mx-auto md:w-3/4"
  >
    <input type="hidden" name="hotel_id" value="{{hotel_id}}" />
    <input type="hidden" name="hotel_name" value="{{hotel_name}}" />
    <input type="hidden" name="city_name" value="{{city_name}}" />
    <input type="hidden" name="country_code" value="{{country_code}}" />
    <input type="hidden" name="room_name" value="{{room.name}}" />
    <input type="hidden" name="total_pay" value="{{total_pay}}" />
    <input type="hidden" name="free_cancellation" value="{{free_cancellation}}" />
    <input type="hidden" name="cancel_before" value="{{cancel_before}}" />
    <input
          class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="guest_name"
          type="text"
          placeholder="Guest Full Name"
          required
        />
    <button
      class="bg-teal-500 hover:bg-teal-800 text-white font-bold py-2 px-4 mt-4 border-b-4 border-teal-700 hover:border-teal-500 rounded"
      type="submit"
    >
      Confirm booking
    </button>
  </form>

  {% else %}

  <h3>
    Sorry, someone just booked the last rooms available. You can choose a
    different hotel or try again later in case of any cancellations.
  </h3>

  {% endif %}
</section>

{% endblock %}
