{% extends "layout.html" %} {% block title %} Let's book your next getaway!
{%endblock %} {% block main %}

<section class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="text-center .w-4/5 mb-6">
    {% if hotelID %}
    <h1
      class="mt-2 text-3xl leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10"
    >
      {{ hotel_name }}
    </h1>
    <span
      class="inline-flex text-3xl leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10"
    >
      {% for star in range(5) %}
      <svg
        class="star mx-0.8 w-4 h-4 fill-current text-gray-400 {% if star <= hotel_stars -1 %}text-yellow-500{% endif %}"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"
        />
      </svg>
      {% endfor %}
    </span>
    <ul>
      {% for line in tagline %}
      <li class="mt-2 leading-5 tracking-tight text-gray-900 sm:leading-7">
        {{ line|safe }}
      </li>
      {% endfor %}
    </ul>
    <address class="mt-4 leading-3 text-gray-500 mx-auto mb-4">
      {{ hotel_address }}
    </address>
    {% endif %} {% if freebies %} {% for freeby in freebies %}
    <ul>
      <li class="text-teal-500 mt-2">{{ freeby }}</li>
    </ul>

    {% endfor %} {% endif %}
  </div>

  <!-- IMAGE CAROUSEL -->
  {% if images_url_list and images_url_list|length > 1 %}

  <div class="carousel-container relative">
    {% for image in images_url_list %}
    <span class="imageNumber">
      {{loop.index}} / {{ images_url_list|length }}
    </span>

    <div class="mySlides fade">
      <img src="{{image}}" alt="" class="relative w-full h-auto flex" />
    </div>
    {% endfor %}

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  {% endif %}
  <!-- END IMAGE CAROUSEL -->

  <div class="mt-10 relative">
    <ul class="md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
      <li>
        <div class="flex mb-4">
          {% if amenities %}
          <ul>
            <h4 class="text-lg leading-6 font-medium text-gray-900">
              Main Amenities
            </h4>
            {% for amenity in amenities%}
            <li class="mt-2 text-base leading-6 text-gray-700">
              {{ amenity }}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </li>

      <li>
        <div class="flex mb-4">
          {% if what_is_around %}
          <ul>
            <h4 class="text-lg leading-6 font-medium text-gray-900">
              Additional info
            </h4>
            {% for around in what_is_around %}
            <li class="mt-2 text-base leading-6 text-gray-700">{{ around }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </li>

      <li>
        <div class="flex mb-4">
          {% if hotel_rooms %}
          <ul>
            <h4 class="text-lg leading-6 font-medium text-gray-900 mb-4">
              Rooms types in this property:
            </h4>
            {% for room in hotel_rooms %} 
            {% if room != '' %} 
            <li class="mt-2 text-base leading-6 text-gray-700">{{ room }}</li>
            {% endif %}
      
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </li>
    </ul>

    <form
      action="{{ url_for('confirm_booking')}}"
      method="POST"
      class="flex justify-around flex-wrap my-8"
    >
      <input type="hidden" name="hotel_id" value="{{hotelID}}" />
      <input type="hidden" name="hotel_price" value="{{hotel_price}}" />

      <button
        class="inline-flex justify-end bg-teal-500 hover:bg-teal-800 text-white font-bold py-2 px-4 mt-4 border-b-4 border-teal-700 hover:border-teal-500 rounded"
        type="submit"
      >
        Book from ${{ hotel_price }} / per room per night
      </button>
    </form>
  </div>
</section>

{% endblock %}
