{% extends "layout.html" %} 

{% block title %} Let's book your next getaway! {%endblock %} 

{% block main %}

<section class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">

<div class="lg:text-center">
{% if hotelID %}
<h1 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10"> {{ hotel_name }} </h1> 
<span> {{ hotel_stars }} </span>
<p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto"> {{ hotel_address }}</p>


<ul>
    {% for line in tagline %}
    <li> {{ line|safe  }} </li>
    {% endfor %}
</ul>
{% endif %}
</div>

<!-- IMAGE CAROUSEL -->
{% if images_url_list|length > 1 %}

<div class="carousel-container relative">
  <span> {{ images_url_list|length }} images </span>

  {% for image in images_url_list %}
  
  <div class="mySlides fade">
      <img src={{image}} alt="" class="absolute inset-0 w-full h-screen flex items-center justify-center">   
  </div>  
  {% endfor %}

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
{% endif %}
<!-- END IMAGE CAROUSEL -->
<!-- w-screen h-screen -->

{% if freebies %}
{% for freeby in freebies %}
<li> {{ freeby  }} </li>
{% endfor %}
{% endif %}


<p>{{ hotel_price }}</p>

<p>Room types: </p>
<ul>
    {% for room in hotel_rooms %}
    <li> {{ room  }} </li>
    {% endfor %}
</ul>


{% if amenities %}
<p>Main amenities: </p>
<ul>
    {% for amenity in amenities%}
    <li>{{ amenity }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if what_is_around %}
<p>What's around: </p>
<ul>
    {% for around in what_is_around %}
    <li>{{ around }}</li>
    {% endfor %}
</ul>
{% endif %}


</section>


{% endblock %}
