{% extends "layout.html" %} 

{% block title %} Let's book your next getaway! {%endblock %} 

{% block main %}

<h1>This is the hotel_details route</h1>

{% if hotelID %}
<p>the clicked hotel's id is {{ hotelID }}</p>
<h1> {{ hotel_name }} </h1> 
<span> {{ hotel_stars }} </span>
<span> {{ hotel_address }}</span>

{% endif %}


<ul>
    {% for line in tagline %}
    <li> {{ line|safe  }} </li>
    {% endfor %}
</ul>

{% if freebies %}
{% for freeby in freebies %}
<li> {{ freeby  }} </li>
{% endfor %}
{% endif %}


<p>{{ hotel_price }}</p>

<p>Room types: </p>
<ul>
    {% for room in hotel_rooms %}
    <li> {{ room  }} </li>
    {% endfor %}
</ul>


{% if amenities %}
<p>Main amenities: </p>
<ul>
    {% for amenity in amenities%}
    <li>{{ amenity }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if what_is_around %}
<p>What's around: </p>
<ul>
    {% for around in what_is_around %}
    <li>{{ around }}</li>
    {% endfor %}
</ul>
{% endif %}

  <!-- IMAGE CAROUSEL -->
  {% if images_url_list %}
  <div class="relative">
    <div class="carousel-item">
      {% for image in images_url_list %}
        <img src={{image}} alt="" class="{% if loop.index == 1 %} active {% endif %}  absolute inset-0 w-screen h-screen flex items-center justify-center">   
       {% endfor %}
    </div>  
    <div onclick="nextSlide()" class="fixed bottom-0 right-0 bg-white w-16 h-16 flex items-center justify-center text-black cursor-pointer">&#x276F;</div>
    <div onclick="previousSlide()" class="fixed bottom-0 right-0 bg-white w-16 h-16 mr-16 border-r border-gray-400 flex items-center justify-center text-black cursor-pointer">&#x276E;</div>
</div>
{% endif %}
  <!-- END IMAGE CAROUSEL -->

{% endblock %}
