{% extends "layout.html" %} 
{% block title %} Let's book your next getaway! {%endblock %} 

{% block main %} 

<!-- flash messages start -->
{% include 'messages.html' %}
<!-- flash messages end -->


<div class="flex items-center justify-center">
  <h1 class="py-4 text-teal-500 uppercase font-semibold">
    Let's find your next home away from home
  </h1>
</div>
<form
  action="{{ url_for('list_hotels')}}"
  method="POST"
  class="w-full max-w-xl py-4 mx-auto bg-gray-300 shadow-lg rounded px-8 pt-6 pb-8 mb-4"
>
  <!-- <section class= "border-b border-teal-500 py-2"> -->
  <div class="destination-search">
    <label class="inline-block" for="destination">Most popular destinations</label>
    <select
    class="bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none cursor-pointer inputs-custom"
    name="destination"
    id="destination"
  > 
    <option value="New York">New York</option>
    <option value="Paris"> Paris </option>
    <option value="London">London</option>
    <option value="Miami">Miami</option>
    <option value="Los Angeles">Los Angeles</option>
  </select>
  </div>
  <div class="check-in-field">
    <label class="inline-block" for="check-in">Check-in</label>
    <input
      class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
      type="date"
      name="check-in"
      min="{{tomorrow}}"
      value="{{tomorrow}}"
    />
  </div>
  <div class="check-out-field">
    <label class="inline-block" for="check-out">Check-out</label>
    <input
      class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
      type="date"
      name="check-out"
      min="{{day_after}}"
      value="{{day_after}}"
    />
  </div>
  <div class="rooms-field mr-5">
    <label
      class="inline-block appearance-none bg-transparent border-none w-full py-1 px-2 leading-tight focus:outline-none"
      for="rooms"
      >Rooms</label
    >
    <select
      class="bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none cursor-pointer"
      name="rooms"
      id="rooms"
    >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>

  <div class="adults-room1 mr-5 mb-4">
    <label
      class="inline-block appearance-none bg-transparent border-none w-full py-1 px-2 leading-tight focus:outline-none"
      for="adult1"
      >Adults</label
    >
    <select
      class="bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none cursor-pointer"
      name="adult1"
      id="adult1"
    >
      <option value="2">2</option>
      <option value="1">1</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>

  <div class="search-field-btn">
    <button
      class="w-full inline-flex bg-teal-500 hover:bg-teal-800 text-white font-bold py-2 px-4 border-b-4 border-teal-700 hover:border-teal-500 rounded uppercase"
      type="submit"
    >
      Search
    </button>
  </div>
  <!-- </section> -->
</form>

<article class="md:grid-cols-3 md:grid md:grig-cols-2 md:gap-x-8 md:gap-y-10 mb-4">
  <div class="relative mx-auto w-4/5">
    <h3 class="py-4 text-teal-500 uppercase font-semibold">
      Need inspiration for your next trip?
    </h3>
    <div class="index-image-container">
      <img
        src="../static/imgs/coco-trees.jpg"
        alt="two coco trees on a beach"
        class="w-full h-auto"
      />
    </div>
  </div>

  <div class="relative mx-auto w-4/5">
    <h3 class="py-4 text-grey-500 uppercase font-semibold">
      Useful packing ideas
    </h3>
    <div class="index-image-container">
      <img
        src="../static/imgs/laptop.jpeg"
        alt="travel essentials - beach hat, flip flops, camera, etc"
        class="w-full h-auto"
      />
    </div>
  </div>

  <div class="relative mx-auto w-4/5">
    <h3 class="py-4 text-grey-500 uppercase font-semibold">
      This month's top destinations
    </h3>
    <div class="index-image-container">
      <img
        src="../static/imgs/mountain.jpg"
        alt="girl sat near a mountain lake"
        class="w-full h-auto"
      />
    </div>
  </div>
  
</article>

{% endblock %}
