{% extends "layout.html" %} {% block title %} Let's book your next getaway!
{%endblock %} {% block main %}

<section class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- flash messages start -->
  {% include 'messages.html' %}
  <!-- flash messages end -->

  <h1>Welcome to your hotel bookings' dashboard, {{ name }}</h1>

   
  <p>{{ hotel_id }}</p>
  <p> {{ hotel_name }}</p>
  <p>{{ room_name}}</p>
  <p>{{ total_pay}}</p>
  <!-- True or False -->
  <p>{{ free_cancellation }}</p>
  <!-- Date and time or False if not possible to cancel -->
  <p> {{ cancel_before }}</p> 


</section>

{% endblock %}
