{% extends "layout.html" %} {% block title %} Let's book your next getaway!
{%endblock %} {% block main %}

<section class="h-screen">
  <section class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- flash messages start -->
    {% include 'messages.html' %}
    <!-- flash messages end -->

    <h1 class="py-4 text-teal-500 uppercase font-semibold text-center">
      Your dashboard
    </h1>

    <ul class="w-full p-4">
      {% for booking in bookings %}
      <h2 class="font-bold mr-1 text-teal-500">
        {{ booking.city_name}}, {{ booking.country_code }}
      </h2>
      <p class="mr-1">
        Check in:
        <span class="text-teal-500 font-bold"> {{ booking.check_in }} </span>
        Check out:
        <span class="text-teal-500 font-bold"> {{ booking.check_out }} </span>
      </p>

      <li
        class="flex items-center justify-between mt-2 mb-4 p-4 bg-gray-300 shadow-lg"
      >
        <div>
          <p>
            Hotel name:
            <span class="font-bold text-teal-500">
              {{ booking.hotel_name }}
            </span>
          </p>
          <p>
            Status: <span class="text-teal-500 font-bold"> {{ booking.status }} </span>
          </p>
          <p>
            Total due: <span class="font-bold"> ${{ booking.total_pay }} </span>
          </p>
        </div>

        <div>
          {% if booking.free_cancellation == True and today <
          booking.cancel_before %}
          <form action="{{ url_for('cancel_booking') }}" method="POST">
            <input
              type="hidden"
              name="booking_id"
              value="{{booking.booking_id}}"
            />
            <button
              class="bg-teal-500 hover:bg-teal-800 text-white font-bold py-2 px-4 border-b-4 border-teal-700 hover:border-teal-500 rounded"
              type="submit"
            >
              Cancel
            </button>
          </form>

          <p class="italic text-sm">
            (Free cancellation until {{ booking.cancel_before }})
          </p>
          {# cancel by date has passed #} {% elif booking.free_cancellation ==
          True and today >= booking.cancel_before %}
          <button
            class="bg-teal-500 text-white font-bold py-2 px-4 border-b-4 border-teal-700 rounded opacity-50 cursor-not-allowed"
          >
            Cancel
          </button>
          <p class="italic text-sm">(Cancel by date has passed)</p>

          {% else %}
          <button
            class="bg-teal-500 text-white font-bold py-2 px-4 border-b-4 border-teal-700 rounded opacity-50 cursor-not-allowed"
          >
            Cancel
          </button>
          <p class="italic text-sm">(Reservation is non-refundable)</p>
          {% endif %} {# download pdf confirmation #}
          <form action="{{ url_for('generate_pdf') }}" method="POST">
            <input
              type="hidden"
              name="booking_id"
              value="{{booking.booking_id}}"
            />

            <div class="pt-2">
              <button
                class="bg-teal-500 hover:bg-teal-800 text-white font-bold py-2 px-4 border-b-4 border-teal-700 hover:border-teal-500 rounded"
                type="submit"
              >
                Download confirmation
              </button>
            </div>
          </form>
        </div>
      </li>
      {% else %}
      <li class="font-bold text-teal-500 text-center text-lg">
        No bookings found :(
      </li>
      <div class="text-center mt-4">
        <a class="font-bold text-teal-500 text-lg" href="/">
          Let's find a place for you
        </a>
      </div>
      {% endfor %}
    </ul>
  </section>
</section>

{% endblock %}
